<<<<<<< HEAD
*{
margin: 0px;
padding: 0px;
box-sizing: border-box;
}

header {
text-align: center;
}

.main-card{
margin-top: 50px;
display: flex;
justify-content: space-evenly;
}

.main-card {
background-color: cadetblue;
border: 10px solid salmon;
box-shadow: 5px 5px 5px grey;
}

.selection-card {
display: flex;
flex-wrap: wrap;
flex-direction: column;
align-items: flex-start;
border-left: 5px solid salmon;
}

button {
    display: block;
}
=======

>>>>>>> 63e4630f156e8c6ac19e05eb210f01c0c6a1693a
